<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date in different format</title>
    <script type="text/javascript" 
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app=angular.module("dateApp",[]);
        app.controller("dateAppCntrl",function($scope){
            $scope.currentDate=new Date();
        })
    </script>
</head>
<body ng-app="dateApp">
    <h1>Date in Different Format</h1>
    <div ng-controller="dateAppCntrl">
        current Date& time:{{currentDate}}<br>
        short date:{{currentDate | date:'short'}}<br>
        long Date:{{currentDate | date:'fullDate'}}<br>
        Medium Date:{{currentDate | date:'medium'}}
    </div>
    
</body>
</html> -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter full name</title>
    <script type="text/javascript" 
   
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myAppCntrl",function($scope){
        $scope.firstName="Rishi";
        $scope.lastName="sah";

    })
</script>
</head>
<body ng-app="myApp">
    <h1>Full Name Display</h1>
    <div ng-controller="myAppCntrl">
        First name:<input type="text" ng-model="firstName"><br>
        Last Name:<input type="text" ng-model="lastName"><br>
        Full Name:{{firstName+""+lastName}}
    </div>
    
</body>
</html> -->